.icon-48-blockss {
      background-image: url(../images/l_blockss.png);
      padding-left:60px!important;
}

.icon-48-blocks {
      background-image: url(../images/l_blockss.png);
      padding-left:60px!important;
}

